<!DOCTYPE HTML>
<html>
<head>
<title><%= title %></title>
</head>
<body>
	<video width="1280" height="720" id="testVideo" autoplay loop controls> 
		<source src="<%= mp4_video_url %>" type="video/mp4">
		<source src="<%= webm_video_url %>" type="video/webm">
	</video>
</body>
</html>
